<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add name="Jst" connectionString="data source=.\sql2012;initial catalog=JST;Integrated Security=True;Application Name=Jst.Tests"
    providerName="System.Data.SqlClient" />
  <!--
  

  <add name="Jst" connectionString="Data Source=mssql2012.aspnethosting.co.uk,14330;Integrated Security=False;User ID=danthoma_jst;Pooling=False;Connect Timeout=15;Encrypt=False;Network Library=dbmssocn;Packet Size=4096;Password=T0xygene"
    providerName="System.Data.SqlClient" />
  -->
</connectionStrings>


