<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" ng-app='app' ng-controller="appController">
    
    <head>
        <meta http-equiv="pragma" content="no-cache" />
        <link href="Content/bootswatch.css?v=1.3" rel="stylesheet" />
        <link href="Content/loading-bar.css" rel="stylesheet" />
        <!--script src="Scripts/jquery-1.10.2.js"></script-->
        <!--script src="Scripts/bootstrap.js"></script-->
        <title>{{global.pageName}}</title>
    </head>
    <body>
        <div ng-hide="global.sessionId == null">
            <div>
            </div>
            <div class="navbar navbar-default">
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active" ng-show="global.roleCodes.indexOf('Trainer') >= 0"><a href="" ng-click="redirect('/trainerSchedule')">Schedule</a></li>
                        <li class="active" ng-show="global.roleCodes.indexOf('Competitor') >= 0"><a href="" ng-click="redirect('/competitorSchedule')">Schedule</a></li>
                        <li class="active" ng-show="global.roleCodes.indexOf('Competitor') >= 0 || global.roleCodes.indexOf('Trainer') >= 0"><a href="" ng-click="redirect('/competitorResults')">Results</a></li>
                        <li class="active" ng-show="global.roleCodes.indexOf('Competitor') >= 0"><a href="" ng-click="redirect('/competitorMyResults')">My Results</a></li>
                        <li class="active" ng-show="global.roleCodes.indexOf('Admin') >= 0"><a href="" ng-click="redirect('/accountList')">Accounts</a></li>
                        <!--
                            <li class="active"><a href="" ng-click="redirect('/testing')">Testing</a></li>
                            -->
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        <li><p class="navbar-text">Logged in as {{global.displayName}}</p> </li>

                        <li class="active"><a href="" ng-click="logout()">Logout</a></li>
                    </ul>


                </div>
            </div>
        </div>
        <div>

            <label ng-bind="global.message.text" ng-class="{'text-success': global.message.messageType == 'Confirmation', 'text-danger': global.message.messageType != 'Confirmation'}"></label>
        </div>
        <div>
            <div ng-view></div>
        </div>
        <script src="Scripts/angular.js?v=1.3"></script>
        <script src="Scripts/angular-route.js?v=1.3"></script>
        <script src="App/Services/loading-bar.js"></script>
        <script src="App/app.js?v=1.3"></script>
        <script src="App/Controllers/appController.js?v=1.3"></script>
        <script src="App/Controllers/homeController.js?v=1.3"></script>
        <script src="App/Controllers/loginController.js?v=1.3"></script>
        <script src="App/Controllers/adminHomeController.js?v=1.3"></script>
        <script src="App/Controllers/competitorScheduleController.js?v=1.3"></script>
        <script src="App/Controllers/competitorResultsController.js?v=1.3"></script>
        <script src="App/Controllers/competitorMyResultsController.js?v=1.3"></script>
        <script src="App/Controllers/competitorWorkoutDayController.js?v=1.3"></script>
        <script src="App/Controllers/trainerScheduleController.js?v=1.3"></script>
        <script src="App/Controllers/accountListController.js?v=1.3"></script>
        <script src="App/Controllers/accountEditController.js?v=1.3"></script>

        <script src="App/Services/httpInterceptorService.js"></script>
        <script src="App/Services/globalService.js?v=1.3"></script>
        <script src="App/Services/loginService.js?v=1.3"></script>
        <script src="App/Services/workoutService.js?v=1.3"></script>
        <script src="App/Services/accountService.js?v=1.3"></script>

        <script src="App/Controllers/testingController.js?v=1.3"></script>
    </body>
</html>
