<div>
    <label>
        {{date|date:'fullDate'}}
    </label>
    <button class="btn btn-default" ng-click="save()">Save</button>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Workout Type</th>
                <th >Workout Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="workout in workouts">
                <td>{{workout.workoutTypeName}}</td>
                <td>{{workout.workoutDetail}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <label ng-bind="comment"></label>
</div>
<div>
    <label>Result: </label><textarea class="form-control" rows="6" id="textArea" ng-model="resultDetail"></textarea>
</div>