<div>
    <button class="btn btn-default" ng-click="prev()"><<</button>

    <label>
        Week Beginning: {{weekBeginning|date:'mediumDate'}}
    </label>
    <button class="btn btn-default" ng-click="next()">>></button>
   
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th ng-repeat="workoutType in workoutTypes">{{workoutType.name}}</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="workoutDay in workoutDays" ng-click="rowClick(workoutDay)" ng-class="{restDay : workoutDay.isRestDay}">
                <td>{{workoutDay.date|date:'EEEE'}}</td>
                <td ng-repeat="workout in workoutDay.workouts track by $index">{{workout.detail}}</td>
                <td>{{workoutDay.resultDetail}}</td>
                <td><a ng-hide="workoutDay.isRestDay" href='' ng-click="edit(workoutDay)">edit</a></td>
            </tr>
        </tbody>
    </table>
</div>