<div>
    <button class="btn btn-default" ng-click="prev()"><<</button>

    <label>
        {{date|date:'fullDate'}}
    </label>
    <button class="btn btn-default" ng-click="next()">>></button>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Workout Type</th>
                <th>Workout Detail</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="workout in workouts">
                <td>{{workout.workoutTypeName}}</td>
                <td>{{workout.workoutDetail}}</td>
            </tr>
        </tbody>
    </table>
</div>
<div>
    <table class="table">
        <thead>
            <tr>
                <th>Competitor</th>
                <th>Result</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="result in results">
                <td>{{result.accountDisplayName}}</td>
                <td>{{result.resultDetail}}</td>
            </tr>
        </tbody>
    </table>

</div>