

<div  class="container text-center col-sm-4 col-sm-offset-4">
    <img src="../Content/Logo.png" style="padding: 25px" />
    
   
    <form name="loginForm" style="max-width: 500px; padding: 15px; margin: 0 auto;">
        <fieldset>
            <div>
                <label for="userName" style="width: 115px">User Name:</label>
                <input id="userName" type="text" required ng-model="credentials.userName" />
            </div>
            <div>
                <label for="password" style="width: 115px">Password:</label>
                <input id="password" type="password" required ng-model="credentials.password" />
            </div>
        </fieldset>
        <div >
            <button class="btn btn-default" ng-click="login(loginForm, credentials)">Login</button>
        </div>
        <div>
            <label style="width: 500px" ng-hide="message == ''" class="text-danger" ng-bind="message"></label>
        </div>
    </form>
</div>
