<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="Jst" connectionString="Data Source=mssql2012.aspnethosting.co.uk,14330;Integrated Security=False;User ID=danthoma_jst;Pooling=False;Connect Timeout=15;Encrypt=False;Network Library=dbmssocn;Packet Size=4096;Password=T0xygene"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>